footer{
    background: #000;
    padding: 1rem;
    color: aliceblue;
    text-align: center;
}@media (max-width: 768px) {
    footer{
        width: 100%;
        margin: 0rem 1rem;
        margin-left: 40px;
    }
}